* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu';
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

/* ===HEADER=== */

.header {
    height: 169px;
    position: relative;
    margin-bottom: 114px;
}

.header__container {
    padding: 90px 592px 35px 62px;
}

.header-title {
    font-weight: 400;
    font-size: 34px;
    line-height: 38px;
    color: black;
    width: 714px;
    margin-bottom: 35px;
}

.header-wrapper {
    margin-bottom: 15px;
    position: absolute;
    right: 40px;

}

.small-wrapper {
    width: 615px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:
        rgba(240, 244, 248, 1);
    border-radius: 10px;
    padding: 26px 42px 26px 30px;
    gap: 75px;
    margin-bottom: 15px;
}

.small-wrapper-two {
    width: 615px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:
        rgba(240, 244, 248, 1);
    border-radius: 10px;
    padding: 26px 42px 26px 30px;
    gap: 75px;
}


.header-subtitle {
    font-weight: 400;
    color: rgba(121, 166, 195, 1);
    font-size: 14px;
    line-height: 15.4px;
    margin-bottom: 10px;
}

.header-wrapper-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 24.2px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 15px;
}

.header-description {
    color: rgba(110, 155, 184, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 15.4px;
    margin-bottom: 26px;
}

.header-img {
    width: 90px;
    height: 90px;
}

/* ===Hero=== */

.hero {
    margin-bottom: 90px;
}

.hero-title {
    font-weight: 400;
    font-size: 34px;
    line-height: 37px;
    color: black;
    margin-bottom: 34px;
}

.hero-block {
    border-radius: 120px 6px 120px 6px;
    background-color:
        rgba(240, 244, 248, 1);
    padding: 59px 62px 17px 61px;
}

.block-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.card img {
    width: 405px;
    height: 220px;
    margin-bottom: 22px;
}

.card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 1px;
}

.card-subtitle {
    color: rgba(110, 155, 184, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 41px;
}

.block-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-button a {
    text-decoration: none;
    color:
        rgba(0, 0, 222, 1);
    padding: 14px;
    border-radius: 20px 0;
    background-color: #fff;
    font-weight: 400;
    transition: all 0.5s linear;
}

.block-button a:hover {
    background-color: rgba(0, 0, 222, 1);
    color: #fff;
}

/* ABOUT */

.about {
    margin-bottom: 104px;
}

.about-title {
    font-weight: 400;
    font-size: 34px;
    line-height: 37px;
    color: black;
    margin-bottom: 34px;
}

.about-menu {
    margin-bottom: 50px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
    padding: 0 781px 0 0;
}

.nav-item a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color:
        rgba(110, 155, 184, 1);
    font-weight: 400;
    transition: all 0.3s linear;
}

.nav-item a:hover {
    color: black;
    border-bottom: 1px solid rgba(0, 0, 222, 1);
    padding-bottom: 10px;
}

.about-description {
    background-color: rgba(240, 244, 248, 1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    gap: 1px;
    padding: 13px;
}

/* ===OUT=== */

.out {
    margin-bottom: 94px;
}

.out__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 
    rgba(240, 244, 248, 1);
    border-radius: 20px 0;
}

.out-title {
    font-weight: 400;
    font-size: 34px;
    line-height: 38px;
    margin-bottom: 17px;
}

.out-title span {
    color:
        rgba(0, 0, 222, 1);
}

.out-description {
    color:
        rgba(110, 155, 184, 1);
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 33px;
}

.out-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.blue-button {
    background-color:
        rgba(0, 0, 222, 1);
    text-decoration: none;
    padding: 23px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    border-radius: 28px 0;
    width: 250px;
    transition: all 0.5s linear;
}

.blue-button:hover{
    background-color:
    rgb(6, 6, 158);
}

.white-button{
    width: 153px;
    text-decoration: none;
    color: rgba(0, 0, 222, 1);
    border-radius: 28px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    transition: all 0.5s linear;
    padding: 23px;
}

.white-button:hover{
    background-color: rgba(0, 0, 222, 1);
    color: #fff;
}

.out-img{
    width: 347px;
    height: 313px;
}

/* ===loader===*/

#preloader{
    background: #000 url(../img/preloader.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}